[bumpversion]
current_version = 0.13.1
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:app.py]
search = <span class="version">v{current_version}</span>
replace = <span class="version">v{new_version}</span>
